# Visual Studio 관련 파일
bin/
obj/
.vs/
*.user
*.suo
*.userprefs
*.cache
*.log
*.pdb
*.ilk
*.ncb
*.sdf
*.opensdf
*.VC.db

# 빌드 결과
Debug/
Release/
x64/
x86/
bld/

# NuGet 패키지
packages/
*.nupkg
.nuget/

# 기타
.DS_Store
Thumbs.db